<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    <title>Hamzey Beauferris</title>
</head>
<body>
    
    <header>
        <div class="container">
            <ul class="menu">
                <li><a href="#top">About</a></li>
                <li><a href="#section2">Projects</a></li>
            </ul>
        </div>
    </header>

    
    <div class= "me" id ="section1">
       
    </div>

    
    <div class= "portfolio" id = "section2">
    
        <a class="g s1" href="http://visualizehike.herokuapp.com/" target="_blank"> 
            <div class = "overlay">
                <div class="title">Hike Visualization</div>
            </div>
        </a>

        <a class="g s2" href="https://chopchopbarbershop.herokuapp.com/" target="_blank" > 
            <div class = "overlay">
                <div class="title">Appointment App</div>
            </div>
        </a>
        
        <a class="g s3" href="http://calgarycrimemap.herokuapp.com/" target="_blank" >
            <div class = "overlay">
                <div class="title">Crime Visualization</div>
            </div> 
        </a>
    </div>
   
</body>
</html>

